* {
    outline: solid 1px red;
}



body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FADBD2;
    height: 95px;
}

.navbar h1 {

    font-size: 35px;
    font-weight: bold;
}

.buttondiv {
    /* margin-right: 200px; */
}

.button1 {
    background-color: coral
}

.button2 {
    background-color: #FADBD2;
}

.nav {}

.navbar a {
    font-size: 14px;
    margin: 15px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.navbar a::before {
    position: absolute;
    height: 3px;
    top: 30px;
    transition: 00.3s;

    background-color: black;
    content: "";
    width: 0%;
}

.navbar a:hover:before {
    width: 100%;
}

.navbar nav {
    /* margin-left: -100px; */
}

.navbar button {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    transition: 00.3s;
    border-radius: 5px;
}

.navbar button:active {
    transform: scale(0.95);
}

.navbar button:hover {
    box-shadow: 0 0 2px;
}

/* /////////////////////////////////////////////////////// */

.header {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #FADBD2;
    height: 550px;

}

.leftside {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 10%;
    /* width: 40%; */

}

.leftside h3 {
    font-size: 25px;
}

.leftside h1 {
    font-size: 35px;
    margin-top: 40px;
}

.leftsidebutton button {
    padding: 10px;
    /* width: 100px; */
    border: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    transition: 00.3s;
    margin-top: 40px;
    /* margin: 0 10px; */
}

.leftsidebutton button:hover {
    box-shadow: 0 0 2px;
}

.leftsidebutton button:active {
    transform: scale(0.95);
}

.leftsidebutton1 {
    background-color: #FADBD2;
    color: black;
    box-shadow: 0 0 2px;
}

.leftsidebutton2 {
    background-color: coral;
}

/* /////////////////////////////////////////////////////////// */

.bottomnavbar {
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #FADBD2;
    align-items: center;
}

.bottomnavbar section {
    display: flex;
    margin: 55px;
    gap: 20px;
    align-items: center;
    

}

.bottomnavbar h2 {
    font-size: 30px;
}

.bottomnavbar section a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* /* //////////////////////////////////////////////////////// */

.firstmain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 700px;
}

.firstmain img {
    height: 400px;
    margin-top: 60px;
    border: none;
    transition: 00.3s;
    border-radius: 5px;

}

.firstmain img:hover {
    box-shadow: 0 0 5px;
}

.maindiv {
    height: 450px;
    margin-top: 90px;
}

.maindiv h3 {
    font-size: 25px;
    margin-top: 0;
}

.maindiv h2 {
    font-size: 30px;
    margin-top: 0;
}

.maindiv button {
    padding: 10px;
    width: 35%;
    background-color: coral;
    font-size: 15px;
    transition: 00.3s;
    font-weight: 600;

    border-radius: 5px;
    border: none;
}

.maindiv button:hover {
    box-shadow: 0 0 2px;
}

.maindiv button:active {
    transform: scale(0.95);
}

.maindiv ul {
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
}

/* /////////////////////////////////////////////////////////////////////// */

.seconddiv {}

.seconddiv h3 {
    /* margin-top: 2vw; */
    margin-left: 250px;
    font-size: 25px;
    ;
}

.seconddiv h2 {

    font-size: 30px;
}

.seconddivsection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
}

.seconddivsection button {
    padding: 10px;
    width: 12%;
    outline: 1px solid red;
    color: red;
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}

.bigdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: auto;

}

.divs img {
    height: 200px;
    border-radius: 4px;
    border: none;


}

.divs {
    /* background-color: aquamarine; */
    /* height: 600px; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin: 0 15px;
    box-shadow: 0 0 5px grey;
    border-radius: 4px;
    border: none;
    width: 510px;



}

.divwords h3 {
    margin-left: 0;
    font-size: 15px;
    background-color: rgb(14, 211, 14);
    border-radius: 3px;
    color: white;
    padding: 7.5px;
    text-align: center;
    width: 50%;
}

.divwords p {
    font-size: 15px;
    font-weight: bold;
}

.divwordsp {
    font-size: 14px;
    color: red;
}

.divwordsspan {
    color: rgb(94, 94, 94);
}

.divwords {
    line-height: 20px;
    padding: 0.5vw 2.5vw 0.5vw 1vw;

}

/* ////////////////////////////////////////////////////////////////// */
.ourbenefitsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.ourbenefits nav {
    text-align: center;
}

.ourbenefits a {

    margin: 0 90px;
    font-size: 15px;
    outline: none;
    transition: 00.3s;
    border: none;
    color: rgb(94, 94, 94);
    padding: 0.6px 30px;
    text-decoration: none;
}

.ourbenefits a:hover {
    color: red;
    outline: solid 1px red;
    border-radius: 3px;

}

.ourbenefits h4 {
    text-align: center;
    font-size: 16px;

}

.ourbenefits h2 {
    text-align: center;
    font-size: 2.5vw;
}

.ourbenefitsdivwords {
    height: 450px;
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ourbenefitsdivwords h3 {
    margin-left: -250px;
    font-size: 22px;
}

.ourbenefitsdivwords p {
    font-size: 15px;
    line-height: 23px;
    width: 90%;
}

.ourbenefitsdiv img {
    height: 450px;
    width: 35%;
    margin-top: 75px;
}

/* ///////////////////////////////////////////////////////////////////// */
.our_events {
    padding: 15px;
    background-color: #FADBD2;
    margin: auto;
}

.our_events h2 {
    width: 100%;
    text-align: center;
    font-size: 37px;
}

.our_events h4 {
    width: 100%;
    text-align: center;
    font-size: 16px;

}

.our_events_big_cont {
    /* background-color:; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
    margin-top: 60px;
    flex-direction: column;
}

.our_events_words {}

.our_events_small_conts {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 120px;
    /* width: 50%; */
    padding: 7.5px 30px;
    gap: 30px;
}

.our_events_small_conts button {
    padding: 10px;
    width: 120px;
    color: red;
    outline: 1px solid red;
    border-radius: 3px;
    font-size: 15px;
    margin-top: -15px;
    font-weight: 550;
    background-color: white;
    letter-spacing: 0.5px;
    border: none;
    transition: 00.3s;
}

.our_events_small_conts button:hover {
    background-color: red;
    color: white;
    outline: 1px solid white;

}

.our_events_small_conts button:active {
    transform: scale(0.95);
}

.august_side {
    line-height: 1.5px;

}

.our_events_words {
    line-height: 1.5px;

}

.our_events_small_conts p {
    font-size: 40px;
    color: red;
    font-weight: 700;
}

.our_events_small_conts h4 {
    font-size: 17px;
    font-weight: 600;
}

.our_events_small_conts h5 {
    font-size: 12px;
    color: rgb(71, 69, 69);
}

.bottom_div_our_events {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 20px;
}

.bottom_div_our_events h3 {
    font-size: 22px;
}

.bottom_div_our_events button {
    padding: 10px;
    width: 150px;
    background-color: red;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    font-weight: 550;
    transition: 00.3s;
    color: white;
}

.bottom_div_our_events button:hover {
    background-color: white;
    outline: solid 1px red;
    color: red;
}

.bottom_div_our_events button:active {
    transform: scale(0.95);
}

/* ///////////////////////////////////////////////////////////////////// */
.big_certificate_div img {
    height: 350px;
    /* background-color: aqua; */
    width: 50%;
}

.main_certificate_div {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* background-color: aquamarine; */
    margin: auto;
    height: 350px;
}

.big_certificate_div {
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 10;
    top: 75px;
    height: 350px;

}

.big_certificate_div h4 {
    font-size: 17px;
}

.big_certificate_div h3 {
    font-size: 22px;
    width: 75%;
}

.big_certificate_div p {
    font-size: 17px;
    width: 75%;
    padding: 15px;
    line-height: 30px;
    color: rgb(100, 98, 98);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
.img_div img {
    height: 100%;
    width: 100%;

}

.main_team_div {
    /* background-color: aquamarine; */
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
}

.big_team_div {

    display: flex;
    flex-direction: column;

    margin-top: 150px;

}

.big_team_div h4 {
    font-size: 17px;
    margin-top: 0;
}

.big_team_div h3 {
    font-size: 22px;
    margin-top: 5px;
}



.imgs_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    margin-top: 15px;
    text-align: center;

}

.img_div {
    
    height: 100%;
    

}

.imgs_div h4 {
    font-size: 17px;
    margin-top: 7.5px;
}

.imgs_div h5 {
    font-size: 15px;
    color: rgb(100, 98, 98);
    ;
    margin-top: -10px;
}

/* ///////////////////////////////////////////////////////////////////////// */


.testimonials_img img {
    height: 60px;
    width: 60px;
    border-radius: 50%;

}

.testimonials_img {
    display: flex;
    margin-left: -580px;
    gap: 15px;
}

.testimonials_img h5 {
    font-size: 11px;
}

.testimonials h4 {
    width: 100%;
    font-size: 17px;
    text-align: center;
    margin-top: 0;

}

.testimonials h3 {
    text-align: center;
    width: 100%;
    font-size: 22px;
}

.bigg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 600px;
}

.testimonials {
    
    background-color: aliceblue;
}

.testimonials_small p {
    font-size: 15px;
}

.testimonials_small {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    margin-top: 60px;
    width: 700px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 1px;

}

/* //////////////////////////////////////////////////
 */
.our_blog_img img {
    height: 200px;
    width: 300px;
}

.our_blog_big h3 {
    font-size: 22px;
}

.our_blog_big h4 {
    font-size: 17px;
}

.our_blog_big button {
    padding: 10px;
    width: 150px;
    background-color: red;
    border-radius: 3px;
    border: none;
    font-size: 11px;
    font-weight: 550;
    transition: 0.3s;
    color: white;
}

.our_blog_big button:hover {
    background-color: white;
    outline: solid 1px red;
    color: red;
}

.our_blog_big button:active {
    transform: scale(0.95);
}

.our_blog {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vw; */
    padding: 15px;
}

.our_blog_big {
    background-color: white;
    width: 100%;
    height: 100%
}

.our_blog_imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    height: 100%;
    margin-top: 60px;
    gap: 22px;
}

.our_blog_img {
    background-color:white;
    width: 300px;
    height: 390px;
    
}

.our_blog_img h4 {
    margin-top: -11px;
}

.our_blog_img h5 {
    color: rgb(71, 69, 69);
    font-size: 11px;


}

.our_blog_img p {
    color: rgb(71, 69, 69);
    margin-top: -7.5px;
    font-size: 13px;

}

.nav {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    margin-top: 0;
    gap: 670px;
}

/* ////////////////////////////////////////////////////// */
.createx_school {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FADBD2;
    flex-direction: column;
    margin: auto;
    padding: 15px;
    height: 300px;
}


.createx_school h4 {
    font-size: 17px;
}

.cr_1 {
    font-size: 30px;
    margin-top: 0;
}

.subscribe {
    /* background-color: aqua; */
    margin-top: 22px;


}

.cr_h3 {
    margin-top: -15px;
    font-size: 30px;
}

.subscribe button {
    padding: 10px;
    width: 150px;
    background-color: red;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    font-weight: 550;
    transition: 00.3s;
    color: white;
}

.subscribe button:hover {
    background-color: white;
    outline: solid 1px red;
    color: red;
}

.subscribe button:active {
    transform: scale(0.95);
}

.subscribe input {
    width: 300px;
    padding: 10px;
    font-size: 15px;
    margin: 0 15px;
    border: none;

}

/* ////////////////////////////////////// */
article {
    background-color: rgb(18, 14, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: rgb(207, 200, 200);
    height: 190px;
    margin: auto;


}

article a {
    font-size: 13px;
    color: rgb(207, 200, 200);

    text-decoration: none;
    line-height: 24px;

}

.art_big_div {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 90px;


}

.art_div1 {
    /* background-color: rgb(255, 0, 72); */
    width: 300px;
    font-size: 11px;
}

.art_divs {
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    height: 180px;
    /* background-color: aqua; */


}

.art_big_div h4 {
    font-size: 15px;
    color: white;
}

.art_big_div h5 {
    font-size: 11px;
    color: rgb(207, 200, 200);
}

.art_big_div h3 {
    font-size: 22px;
    color: white;
}

.art_divsss input {
    padding: 10px;
    width: 220px;
    font-size: 11px;
    border: none;
    background-color: rgb(18, 14, 40);
    box-shadow: 0 0 1px;

    color: white;
}

.art_divsss ::placeholder {
    color: rgb(207, 200, 200);
    font-size: 11px;
}

.art_divsss {
    width: 20%;
}

.art_divsss h5 {
    margin-top: 7.5px;
}

/* ///////////////////////////////// */
@media screen and (max-width: 1025px) {
    .navbar button {

        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .navbar h1 {
        font-size: 25px;
    }

    .navbar a {
        font-size: 14px;
        margin: 10px;
    }

    .navbar button {
        font-size: 12px;
        padding: 8px;
    }

    .navbar {
        height: 60px;
        ;
    }
    .bottomnavbar section{
        margin: 35px;
    }
}

@media screen and (max-width:426px) {
    .navbar h1 {
        font-size: 15px;
    }
    .header h3{
font-size: 20px;
    }
    .header h1{
        font-size: 25px;
    }

    .navbar a {
        margin: 3px;
        font-size: 7px;
    }

    .navbar button {
        font-size: 6px;
        padding: 3.5px;
    }
    .header{
        height: 350px;
    }
    .leftside{
        height: 205px;
        outline: solid purple;
    }

    .button1 {
        width: 45px
    }

    .button2 {
        width: 45px;
    }
.leftsidebutton{
    margin-top: -20px;
}
    button.leftsidebutton1 {
        padding: 3px;
        font-size: 6px;
        
    }

    button.leftsidebutton2 {
        padding: 3px;
        font-size: 6px;
    }
    .bottomnavbar section{
        margin: 10px;
        gap: 10px;
        
    }
    .bottomnavbar section a{
        font-size: 6px;
    }    
    .bottomnavbar section h2{
        font-size: 13px;
    }


}

/* @media screen and (max-width: 376px) {
    .navbar h1 {
        font-size: 14px;

    }

    .navbar a {
        font-size: 6px;
    }

    .navbar button {
        font-size: 5px;
        padding: 3.5px;

    }

    .button1 {
        width: 40px;

    }

    .button2 {
        width: 40px;
    }
}

@media screen and (max-width: 284px) {
    .navbar h1 {
        font-size: 8px;
    }

    .navbar a {
        margin: 3px;
        font-size: 5px;
    }

    .navbar button {
        font-size: 4px;
        padding: 3px;
    }

    .button1 {
        width: 35px;

    }

    .button2 {
        width: 35px;
    }
} */